# Python backend
venv/
__pycache__/
*.pyc
db.sqlite3
.env
*.log

# Django
*.sqlite3
media/
staticfiles/

# Node / React frontend
node_modules/
dist/
.env
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/